---
const { respuesta } = Astro.props;
const {inciso} = Astro.props;
---

<button class="bg-blue-700 text-white text-2xl py-3 px-6 rounded-lg m-2 hover:bg-blue-500 cursor-pointer shadow-md transition">
    <span class="font-extrabold text-3xl text-yellow-400 px-2 py-1 rounded">{inciso})</span>
    {respuesta}
</button>